 <div id="<%= dom_id bookingg %>">
  <p>
    <strong>address:</strong>
    <%= bookingg.address %>
  </p>

  <p>
    <strong>property_no:</strong>
    <%= bookingg.property_no %>
  </p>

   <p>
    <strong>occupance:</strong>
    <%= bookingg.occupance %>
  </p>

  <p>
    <strong>date:</strong>
    <%= bookingg.date %>
  </p>
</div>