<%= form_with(model: property) do |form| %>
<% if property.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

  <ul>
    <% property.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
  <% end %>
  
  <div>
    <%= form.label :Property_Name, style: "display: block" %>
    <%= form.text_field :name_property, required: true, class: "form-control form-control-lg"  %>
  </div>

  <div>
    <%= form.label :Owner_Phone_Number, style: "display: block" %>
    <%= form.text_field :photos, required: false, class: "form-control" %>  
  </div>

  <div>
    <%= form.label :Latitude, style: "display: block" %>
    <%= form.number_field :latitude, required: true, class: "form-control form-control-lg" %>
  </div>

  <div>
    <%= form.label :Longitude, style: "display: block" %>
    <%= form.number_field :longitude, required: true, class: "form-control form-control-lg" %>
  </div>

  <div>
    <%= form.label :Pictures, style: "display: block" %>
    <%= form.file_field :avatar %>
  </div>  

  <div>
    <%= form.label :Price, style: "display: block" %>
    <%= form.number_field :price, class: "form-control form-control-lg" %>
  </div>  

  <div>
    <%= form.label :Address, style: "display: block" %>
    <%= form.text_field :address_property, class: "form-control form-control-lg" %>
  </div> 

  <div>  
    <%= form.submit :Submit, class: "btn btn-primary pt1"%>
  </div>

<% end %>