 <div id="<%= dom_id property %>">
  <p>
    <strong>name_property:</strong>
    <%= property.name_property %>
  </p>

  <p>
    <strong>address_property:</strong>
    <%= property.address_property %>
  </p>

   <p>
    <strong>latitude:</strong>
    <%= property.latitude %>
  </p>

  <p>
    <strong>longitude:</strong>
    <%= property.longitude %>
  </p>

  <p>
    <strong>user_id:</strong>
    <%= property.user_id %>
  <p>    
</div>