<p style="color: green"><%= notice %></p>

<h1>Properties</h1>

<div id="properties">
  <table>
  <tr>
    <th>name_property</th>
    <th>address_property</th>
    <th>latitude</th>
    <tr>longitude</tr>
    <tr>photos</tr>
  </tr>
 <% @properties.each do |property| %> 
  <tr>
    <td><%= property.name_property %></td>
    <td><%= property.address_property %></td>
    <td><%= property.latitude %></td>
    <td><%= property.longitude %></td>
    <td><%= property.photos %></td>
    <td colspan="3"> <%= link_to "Show", property_path(property) %> |  <%= link_to "Edit", edit_property_path(property) %></td>
  </tr>
  <%end%>
</table> 
</div>

<%= link_to "New property", new_property_path %>