<p style="color: green"><%= notice %></p>

<h1>Properties</h1>

<div id="properties">
  <table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Property Name</th>
    <th>Address</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>
 <% @properties.each do |property| %> 
  <tr>
    <td><%= property.name_property %></td>
    <td><%= property.address_property %></td>
    <td><%= property.price %></td>
    <td colspan="3"> <%= link_to "View", property_path(property) if property_owner_role_only %> |  <%= link_to "Edit", edit_property_path(property) if property_owner_role_only %></td>
  </tr>
  <%end%>
</table> 
</div>
<%= link_to "Add", new_property_path if property_owner_role_only%>
<br>
<%= link_to "Back",  user_dashboards_index_path if customer_role_only  %>
<%= link_to "Back",  property_owner_dashboards_index_path if property_owner_role_only  %>